.header{
    background-color: rgb(80, 140, 225);
    height: 100px;
}
.mkce{
    padding-left: 10px;
    padding-top: 30px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
}
.table{
    flex: auto;
    flex-direction: row;
}
.head{
    padding: 10px;
}
.text{
    color: rgb(35, 114, 210);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.learntext{
    font-family: Arial, Helvetica, sans-serif;
    
}
.btt{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}